services:
  discovery-server:
    build:
      context: .
      dockerfile: discovery-server/Dockerfile
    ports:
      - "8761:8761"
      - "2137:2137" #Debug port
    networks:
      - my_network
    environment:
      EUREKA_USERNAME: eureka
      EUREKA_PASSWORD: ${eureka_password}
      EUREKA_INSTANCE_HOSTNAME: discovery-server
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  api-gateway:
    build:
      context: .
      dockerfile: api-gateway/Dockerfile
    ports:
      - "8080:8080"
      - "5000:5000" #Debug port
    depends_on:
      - discovery-server
      - authentication-service
      - company-service
      - event-service
      - document-service
      - notification-service
    networks:
      - my_network
    environment:
      TOKEN_SECRET_KEY: ${token_secret_key}
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  authentication-service:
    build:
      context: .
      dockerfile: authentication-service/Dockerfile
    ports:
      - "5001:5001" #Debug port
    depends_on:
      - authentication-database
      - discovery-server
    networks:
      - my_network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://authentication-database:5432/authentication-service
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ${postgres_datasource_password}
      TOKEN_SECRET_KEY: ${token_secret_key}
      IMAGE_KIT_URL_ENDPOINT: https://ik.imagekit.io/forcompany/user-profile-pictures
      IMAGE_KIT_PRIVATE_KEY: ${image_kit_private_key}
      IMAGE_KEY_PUBLIC_KEY: ${image_kit_public_key}
      STRIPE_PAYMENT_PRIVATE_KEY: ${stripe_payment_private_key}
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  company-service:
    build:
      context: .
      dockerfile: company-service/Dockerfile
    ports:
      - "5002:5002" #Debug port
    depends_on:
      - company-database
      - discovery-server
    networks:
      - my_network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://company-database:5432/company-service
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ${postgres_datasource_password}
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  event-service:
    build:
      context: .
      dockerfile: event-service/Dockerfile
    ports:
      - "5003:5003" #Debug port
    depends_on:
      - event-database
      - discovery-server
    networks:
      - my_network
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://event-database:5432/event-service
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: ${postgres_datasource_password}
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  document-service:
    build:
      context: .
      dockerfile: document-service/Dockerfile
    ports:
      - "5004:5004" #Debug port
    depends_on:
      - document-database
      - discovery-server
    networks:
      - my_network
    dns:
      - 8.8.8.8
      - 8.8.5.5
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://document-database:27017/document-service
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  notification-service:
    build:
      context: .
      dockerfile: notification-service/Dockerfile
    ports:
      - "5005:5005" #Debug port
    depends_on:
      - notification-database
      - discovery-server
    networks:
      - my_network
    dns:
      - 8.8.8.8
      - 8.8.4.4
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://notification-database:27017/notification-service
      SPRING_MAIL_HOST: smtp.gmail.com
      SPRING_MAIL_PORT: 587
      SPRING_MAIL_USERNAME: for.company.document.generator@gmail.com
      SPRING_MAIL_PASSWORD: ${spring_mail_password}
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_AUTH: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_STARTTLS_ENABLE: "true"
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_CONNECTION_TIMEOUT: 10000
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_TIMEOUT: 10000
      SPRING_MAIL_PROPERTIES_MAIL_SMTP_WRITE_TIMEOUT: 10000
      EUREKA_CLIENT_SERVICE_URL_DEFAULT_ZONE: http://eureka:password@discovery-server:8761/eureka

  authentication-database:
    image: postgres:15
    volumes:
      - authentication_service_data:/var/lib/postgresql/data
    networks:
      - my_network
    environment:
      POSTGRES_DB: authentication-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${postgres_datasource_password}

  company-database:
    image: postgres:15
    volumes:
      - company_service_data:/var/lib/postgresql/data
    networks:
      - my_network
    environment:
      POSTGRES_DB: company-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${postgres_datasource_password}

  event-database:
    image: postgres:15
    volumes:
      - event_service_data:/var/lib/postgresql/data
    networks:
      - my_network
    environment:
      POSTGRES_DB: event-service
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ${postgres_datasource_password}

  document-database:
    image: mongo:6
    volumes:
      - document_service_data:/data/db
    networks:
      - my_network
    environment:
      MONGO_DB: document-service

  notification-database:
    image: mongo:6
    volumes:
      - notification_service_data:/data/db
    networks:
      - my_network
    environment:
      MONGO_DB: notification-service

networks:
  my_network:
    driver: bridge

volumes:
  authentication_service_data:
  company_service_data:
  event_service_data:
  document_service_data:
  notification_service_data: